= DesignBox.boxt _("Details"), 350
= simple_form_for [group_reporter.group, group_reporter] do |f|
  = f.input :reporter_id, autofocus: true, collection: reporter_collection, label: GroupReporter.human_attribute_name(:reporter)
  = f.submit _("Save")
= DesignBox.boxb
