= DesignBox.boxt _("Details"), 500
= simple_form_for [service.group, service] do |f|
  = f.input :name, autofocus: true
  = f.input :group_id, collection: Group.order(:name), label: Service.human_attribute_name(:group)
  = f.input :plugin_id, collection: Plugin.order(:name), label: Service.human_attribute_name(:plugin)
  = f.input :active

  - unless service.new_record?
    %h2= _("Plugin parameters")
    = simple_fields_for :parameters do |f|
      - service.parameters.each do |parameter|
        - if parameter["opts"]
          = f.input parameter["name"], label: parameter["title"], required: false, collection: parameter["opts"], selected: parameter["value"]
        - if parameter["type"] == "password"
          = f.input parameter["name"], as: :password, label: parameter["title"], required: false, input_html: {value: parameter["value"]}
        - else
          = f.input parameter["name"], label: parameter["title"], required: false, input_html: {value: parameter["value"]}

  = f.submit _("Save")

  - unless service.new_record?
    = link_to _("Show"), [service.group, service], class: "button"
    = link_to _("Delete"), [service.group, service], class: "button", method: :delete, data: {confirm: _("Are you sure?")}
= DesignBox.boxb
