- content_for(:header_title){ _("View service: %{name}", :name => @service.name) }

.bottom_margin
  = link_to _("Edit service"), ["edit", @group, @service], :class => "button" if can? :edit, @service
  = link_to _("Check"), check_group_service_path(@group, @service), :class => "button", :method => :post if can? :run_check, @service
  
= DesignBox.boxt _("Information"), 350
%table.form
  %tbody
    %tr
      %td= Service.human_attribute_name(:name)
      %td= @service.name
    %tr
      %td= Service.human_attribute_name(:group)
      %td= link_to_group @service.group
    %tr
      %td= Service.human_attribute_name(:active)
      %td= @service.active? ? _("Yes") : _("No")
= DesignBox.boxb

%br/
%br/

= render "/public_activities/table", :resource => @service
