= DesignBox.boxt _("Logs")
%table.list
  %thead
    %tr
      %th= _("ID")
      %th= _("Key")
      %th= _("Message")
      %th= _("Date")
  %tbody
    - activities.each do |activity|
      %tr
        %td= activity.id
        %td= activity.key
        %td= activity.parameters[:message] if activity.key == "service.check.unsuccessful"
        %td= l(activity.created_at, format: :long)
    - if activities.none?
      %tr
        %td.error{colspan: 2}
          = _("No logs has been saved for this reporter.")
= DesignBox.boxb

%br
= will_paginate activities
